//Font sizes
$fourteen-px: 0.875rem;
$fifteen-px: 0.9375rem;
$sixteen-px: 1rem;
$seventeen-px: 1.0625rem;
$eighteen-px: 1.125rem;
$nineteen-px: 1.1875rem;
$twenty-px: 1.25rem;
$twentyone-px: 1.3125rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #f95738 !important;
}
