* {
  margin: 0;
  padding: 0;
}
// .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
//   background-color: #ee964b !important;
// }

// h2 header text
.header-text {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #ee964b;
}

// .css-u0soqy-MuiPickerStaticWrapper-root {
//   box-shadow: 3px 2px 10px 5px #888888 !important;
// }
