//Font sizes
$fourteen-px: 0.875rem;
$fifteen-px: 0.9375rem;
$sixteen-px: 1rem;
$seventeen-px: 1.0625rem;
$eighteen-px: 1.125rem;
$nineteen-px: 1.1875rem;
$twenty-px: 1.25rem;
$twentyone-px: 1.3125rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

h1 {
  text-align: center;
  color: #414141;
  margin-bottom: 1.5rem;
}

// LOGIN IN PAGE
.login-header-div {
  border-radius: 4px 4px 0 0;
  height: 4rem;
  padding: 10px;
}

h5 {
  font-family: roboto;
  color: #414141;
}

.login-header {
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: left;
  font-family: roboto;
}

.forgot-password {
  text-decoration: none;
  font-family: roboto;
  font-size: $fourteen-px;
  color: #035acc;
  display: block;
}

.sign-up-link {
  font-family: roboto;
  font-size: $fourteen-px;
  a {
    text-decoration: none;
    color: #035acc;
  }
}

hr {
  margin-bottom: 1rem;
}

// ATHLETE HOME PAGE
// use for doing initial sketches - https://www.sketch.com/
.GridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.3fr 0.3fr;
  grid-template-areas:
    "events calendar calendar workout workout upcoming"
    "events monthly monthly yearly yearly upcoming";
  gap: $sixteen-px;
  .EventsContainer {
    grid-area: events;
  }

  .Calendar {
    grid-area: calendar;
  }

  .WorkoutDetails {
    grid-area: workout;
  }

  .PieChart {
    h3 {
      text-align: center;
    }

    grid-area: monthly;
  }

  .BarChart {
    grid-area: yearly;
  }

  .UpcomingCoachingSessions {
    grid-area: upcoming;
  }
}

.bottom-nav {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

// MEDIA QUERIES FOR RESPONSIVE MAIN GRID
@media only screen and (max-width: 1500px) {
  .GridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "calendar workout"
      "events upcoming"
      "monthly yearly";
  }
  .bottom-nav {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media only screen and (max-width: 870px) {
  .GridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "calendar"
      "workout"
      "upcoming"
      "events"
      "monthly"
      "yearly";
  }

  .bottom-nav {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
